/* #region UNIVERSAL STYLES */
/* GENERAL STYLES - alphabetical */

html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre {
    margin:0;
    padding:0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
}

section {
    overflow: hidden;
}

.container {
    margin: auto;
    max-width: 100%;
}

.layout.full-height {
    height: 100vh;
} */

/* #region TEXT STYLES */
a {
    text-decoration: none;
    color: #d55e33;
}

button {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
    color: #f3ecdf;
}

h1 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 5em;
    line-height: 1.2;
}

h2 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 3em;
    line-height: 1.2;
}

h3 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 2em;
    line-height: 1.2;
}

h4 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 1.2em;
    line-height: 1.2;
}

h5 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: 1em;
    line-height: 1.2;
}

h6 {
    font-family: 'Bricolage Grotesque', serif;
    font-size: .8em;
    line-height: 1.2;
}

p {
    font-size: 1em;
    line-height: 1.2;
}

.label {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 20px;
}
/* #endregion */

.background-primary {
    background-color: #252525;
    color: #f3ecdf;
}

.background-secondary {
    background-color: #f3ecdf;
}

.background-accent {
    background-color: #68a;
}

.background-cta {
    background-color: #d55e33;
}

.cursive-header {
    font-family: 'Allura', sans-serif;
    font-size: 1.8em;
    font-weight: 400;
}

.hero {
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 20px;

    padding-top: 15rem;
    padding-bottom: 15rem;
}

.style-guide-section-wrapper {
    padding: 20px;
}

.grid {
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
}

.swatch-wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swatch-color {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.label.swatch {
    margin-top: 20px;
}

/* #endregion */

/* #region DESKTOP STYLES */
@media screen and (min-width: 1140px) {    
    /* section {
        font-size: 16px;
    } */

    .container {
        width: 1140px;
        max-width: 100%;
    }

    .grid {
        max-width: 100%;
        grid-template-columns: repeat(4, 1fr);
    }

    .swatch-wrapper {
        margin-right: 20px;
        padding: 20px;
    }
}
/* #endregion */

/* #region TABLET STYLES */
@media screen and (min-width: 768px) and (max-width: 1139px) {
    /* section {
        font-size: 12px;
    } */

    .container {
        width: 768px;
        max-width: 100%;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .swatch-wrapper {
        margin-right: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .swatch-color {
        width: 150px;
        height: 150px;
    }
}
/* #endregion */

/* #region MOBILE STYLES */
@media screen and (min-width: 320px) and (max-width: 767px) {
    /* section {
        font-size: 16px;
    } */

    .container {
        width: 90%;
        max-width: 100%;
    }

    .flexible-even-grid {
        flex-direction: column;
    }

    .swatch-wrapper {
        max-width: 300px;
        margin-top: 10px;
        padding: 20px;
    }
}
/* #endregion */

/* #region SMALLER THAN MOBILE */
@media screen and (max-width: 319px) {

}
/* #endregion */